@BeeDefault: #ffa42f;
@ProductName: #333333;
@ProductBg: #f0f0f0;
@GreyBg: #F5F5F5;
@Grey1: #999999;

// NOTE 导出默认值为变量
:export {
  BeeDefault: @BeeDefault;
  ProductName: @ProductName;
  ProductBg: @ProductBg;
  Grey1: @Grey1;
  GreyBg: @GreyBg;
}
